In [108]:
import pandas as pd
import psycopg2 as pg
import pandas.io.sql as psql

from datetime import date
from sqlalchemy import create_engine

In [66]:
#read in original excel file
ss_og_df = pd.DataFrame(pd.read_excel(r"C:\Users\Hao\Desktop\Data Analysis\superstore-project\Resources\Superstore OG.xls"))
ss_og_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [96]:
#convert original excel file to csv
#note this file path is a variable
output_file = (r'C:\Users\Hao\Desktop\Data Analysis\superstore-project\Resources\Superstore.csv')
ss_og_df.to_csv(output_file, index=False, encoding='utf-8')

In [78]:
#reads in csv from file path
#note this file is a direct path
ss_df = pd.read_csv(r'C:\Users\Hao\Desktop\Data Analysis\superstore-project\Resources\Superstore.csv')
ss_df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [86]:
#indetify all columns and their data types
ss_df.dtypes

row_id             int64
order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code        int64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales            float64
quantity           int64
discount         float64
profit           float64
dtype: object

In [85]:
#check for null/NaN values
ss_df.isnull().values.any()

False

In [83]:
#replace any charactors not align with data rules
ss_df.columns = ss_df.columns.str.replace(" ", "_")
ss_df.columns = ss_df.columns.str.replace("-", "_")
ss_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [82]:
#change any capitalized column names to lowercase
ss_df.columns= ss_df.columns.str.lower()
ss_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub-category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [88]:
#convert data type object to date
ss_df["order_date"] = pd.to_datetime(ss_df["order_date"]).dt.date
ss_df["ship_date"] = pd.to_datetime(ss_df["ship_date"]).dt.date

#find and replace commas and replace with space
ss_df = ss_df.replace(',',' ', regex=True)
ss_df.head()

In [89]:
#indentify any duplicate data
dup_df = ss_df[ss_df.duplicated()]
dup_df.head()

Empty DataFrame
Columns: [row_id, order_id, order_date, ship_date, ship_mode, customer_id, customer_name, segment, country, city, state, postal_code, region, product_id, category, sub_category, product_name, sales, quantity, discount, profit]
Index: []

[0 rows x 21 columns]

In [90]:
ss_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [100]:
ss_df.to_csv(r'C:\Users\Hao\Desktop\Data Analysis\superstore-project\Resources\Superstore_final.csv',index=False, encoding='utf-8')
ss_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [165]:
connection = psycopg2.connect(host="localhost", port = 5432, database="superstore", user="postgres", password="Titbon1!")
sql_df = pd.read_sql_query('select * from superstore',con=connection)
print(sql_df)

      row_id        order_id  order_date   ship_date       ship_mode  \
0       1133  US-2016-114776  2016-12-06  2016-12-07     First Class
1          1  CA-2016-152156  2016-11-08  2016-11-11    Second Class
2          3  CA-2016-138688  2016-06-12  2016-06-16    Second Class
3          4  US-2015-108966  2015-10-11  2015-10-18  Standard Class
4          6  CA-2014-115812  2014-06-09  2014-06-14  Standard Class
...      ...             ...         ...         ...             ...
5004    9987  CA-2016-125794  2016-09-29  2016-10-03  Standard Class
5005    9988  CA-2017-163629  2017-11-17  2017-11-21  Standard Class
5006    9990  CA-2014-110422  2014-01-21  2014-01-23    Second Class
5007    9991  CA-2017-121258  2017-02-26  2017-03-03  Standard Class
5008    9994  CA-2017-119914  2017-05-04  2017-05-09    Second Class

     customer_id     customer_name    segment        country             city  \
0       GG-14650      Greg Guthrie  Corporate  United States          Antioch
1       CG-12520       Claire Gute   Consumer  United States        Henderson
2       DV-13045   Darrin Van Huff  Corporate  United States      Los Angeles
3       SO-20335    Sean O'Donnell   Consumer  United States  Fort Lauderdale
4       BH-11710   Brosina Hoffman   Consumer  United States      Los Angeles
...          ...               ...        ...            ...              ...
5004    ML-17410      Maris LaWare   Consumer  United States      Los Angeles
5005    RA-19885      Ruben Ausman  Corporate  United States           Athens
5006    TB-21400  Tom Boeckenhauer   Consumer  United States            Miami
5007    DB-13060       Dave Brooks   Consumer  United States       Costa Mesa
5008    CC-12220      Chris Cortes   Consumer  United States      Westminster

      ... postal_code  regiion       product_id         category sub_category  \
0     ...       94509     West  OFF-PA-10004100  Office Supplies        Paper
1     ...       42420    South  FUR-BO-10001798        Furniture    Bookcases
2     ...       90036     West  OFF-LA-10000240  Office Supplies       Labels
3     ...       33311    South  FUR-TA-10000577        Furniture       Tables
4     ...       90032     West  FUR-FU-10001487        Furniture  Furnishings
...   ...         ...      ...              ...              ...          ...
5004  ...       90008     West  TEC-AC-10003399       Technology  Accessories
5005  ...       30605    South  TEC-AC-10001539       Technology  Accessories
5006  ...       33180    South  FUR-FU-10001889        Furniture  Furnishings
5007  ...       92627     West  FUR-FU-10000747        Furniture  Furnishings
5008  ...       92683     West  OFF-AP-10002684  Office Supplies   Appliances

                                           product_name     sales  quantity  \
0                                             Xerox 216   19.4400         3
1                     Bush Somerset Collection Bookcase  261.9600         2
2     Self-Adhesive Address Labels for Typewriters b...   14.6200         2
3         Bretford CR4500 Series Slim Rectangular Table  957.5775         5
4     Eldon Expressions Wood and Plastic Desk Access...   48.8600         7
...                                                 ...       ...       ...
5004  Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...   36.2400         1
5005  Logitech G430 Surround Sound Gaming Headset wi...   79.9900         1
5006                             Ultra Door Pull Handle   25.2480         3
5007  Tenex B1-RE Series Chair Mats for Low Pile Car...   91.9600         2
5008  Acco 7-Outlet Masterpiece Power Center  Wihtou...  243.1600         2

      discount    profit
0         0.00    9.3312
1         0.00   41.9136
2         0.00    6.8714
3         0.45 -383.0310
4         0.00   14.1694
...        ...       ...
5004      0.00   15.2208
5005      0.00   28.7964
5006      0.20    4.1028
5007      0.00   15.6332
5008      0.00   72.9480

[5009 rows x 21 columns]

In [166]:
sql_df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,regiion,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1133,US-2016-114776,2016-12-06,2016-12-07,First Class,GG-14650,Greg Guthrie,Corporate,United States,Antioch,...,94509,West,OFF-PA-10004100,Office Supplies,Paper,Xerox 216,19.4400,3,0.00,9.3312
1,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,6,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694

AttributeError: 'list' object has no attribute 'dtypes'